@import "../../styles/colors.scss";

.headerContainerMain {
  background-color: $black;
  // height: 100vh;
  padding: 40px 62px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .headerContainer {
    max-width: 1760px;
    display: flex;
    justify-content: space-between;
    align-content: center;

    .search {
      width: 1186px;
      display: flex;
      background-color: $graphite;
      border-radius: 10px;
    }
  }
}

.content {
  flex: 1;
  margin: 56px 0 64px;
  // height: calc(100vh-);
  display: flex;

  .links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    footer {
      color: $white;
    }
  }

  .mainContent {
    width: 2000px;
    margin: 0 auto 64px;
    flex: 1;
  }
}

.lightContainer {
  background-color: $white;
}
.lightLinks {
  svg {
    color: $dark;
  }
}
