@import "../../styles/colors.scss";

.searchContainer {
  width: 1184px;
  display: flex;
  flex: 1;
  height: 70px;
  background-color: #323537;
  border-radius: 10px;
    // padding: 16px 20px 0 0;
    
  color: #80858b;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  position: relative;
  border: 2px solid transparent;
  cursor: pointer;
  Input{
    padding: 17px 20px;
    // height: 100px;
  }
  .filter{
    padding: 17px 20px;

  }
}

.disabled {
  background-color: #80858b;
  color: #afb2b6;
  pointer-events: none;
}
