@import "../../styles/colors.scss";

.searchContainer {
    // width: 1184px;
    flex: 1;
    height: 56px;
    background-color: #323537;
    border-radius: 10px;
    padding: 16px 20px;
    color: #80858B;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    position: relative;
    border: 2px solid transparent;
    cursor: pointer;

    &:focus {
        border: 2px solid #7B61FF;
        color: white;
    }
}

.icon {
    position: absolute;
    top: 16px;
    right: 200px;
}

.disabled {
    background-color: #80858B;
    color: #AFB2B6;
    pointer-events: none;
}