@import "src/styles/colors";
.container{
    height: 100vh;
    background-color: black;
    background-image: url("../../components/assets/img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.additionalText {
  color: $secondary;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  flex: 1;
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
.signIn{
    color: $primary;
    cursor: pointer;
    margin-left: 4px;
}