$primary: #7b61ff;
$primary-secondary: #917cff;
$secondary: #80858b;
$black: #000;
$dark: #242426;
$graphite: #323537;
$error: #ff5154;
$white: #fff;
$light: #afb2b6;
$green: #00a340;
$yellow: #f3a608;
$orange: #f45d2d;
