@import "../../styles/colors.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
  align-items: center;
  color: $white;
}
.icon{
  margin-top: 50px;
  width: 450px;
  height: 450px;
  svg  {
    fill: white;
  }
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.title {
  font-weight: 600;
  font-size: 26px;
}

.description {
  font-weight: 500;
  font-size: 18px;
}

.lightContainer{
  color: $dark;
  svg  {
    fill: $dark;
  }
}