.mainScreen{
    display: flex;
}
.btn{
    display: flex;
    align-items: center;
    width: 250px;
    padding: 10px 24px;
    justify-content: center;
    margin-top: 70px;
    margin-left: 575px;
}
