.container{
   height: 100vh;
    background-color: black;
    background-image: url("../../components/assets/img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .formContainer{
margin: 0 auto;
    }
}

